{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur Bank.com</h1>

<p>Des solutions adaptées pour tous besoins : gestion et 
ouverture de compte en ligne, simulation de crédit, 
assurance, épargne… une banque présente à vos côtés au quotidien</p>

{% endblock %}


